html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(224, 231, 238);

}

section {
    scroll-margin-top: 80px;
}

#home,
#responsibilities,
#initiatives,
#team,
#FAQ {
    background: #F8FAFC;
    padding: 80px 0;
}

#about,
#student_welfare,
#gallery,
#resources {
    background: white;
    padding: 80px 0;
}


/* navbar */
nav {
    background-color: rgb(185, 191, 196);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.nav-item a {
    font-size: 19px;
    color: #828384;
    font-weight: 450;
}

/* ----- */

/* home */
#homeContent {
    margin-bottom: 4px;
    font-family: 'Inter', sans-serif;
    font-size: 1.35rem;
    font-weight: 400;
    line-height: 1.8;
    color: #4b5563;
    max-width: 700px;
    margin-top: 12px;
}

.home-button {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.home-button button {
    border-radius: 20px;
    height: 50px;
    width: 300px;
    font-size: 20px;
}

.home-button button:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
}

/* HOME BUTTONS */

.home-button {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.home-btn-primary {
    background-color: #2563eb;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
}
.home-btn-primary,
.home-btn-secondary{
    height: 50px;
    width: 250px; /* optional */

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    font-weight: 600;
    line-height: 1;

    border-radius: 50px;
}
.home-button a{
    text-decoration: none;
}

.home-btn-primary:hover {
    background-color: #1d4ed8;
}

.home-btn-secondary {
    background-color: #6b7280;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
}

.home-btn-secondary:hover {
    background-color: #4b5563;
}

.mobile-home-buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
}

/* MOBILE */

@media (max-width: 768px) {

    #homeHeading {
        font-size: 2.4rem;
        text-align: center;
    }

    #homeHeading2 {
        font-size: 1.6rem;
        text-align: center;
    }

    #homeContent {
        text-align: center;
        margin-bottom: 20px;
    }

    .mobile-home-buttons .btn {
        white-space: nowrap;
        font-size: 14px;
        padding: 10px 16px;
    }

    .home-image {
        max-height: 250px;
        object-fit: cover;
    }
}
#crousel-id {
    font-weight: 700;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.9);
}

#homeHeading {
    /* font-family: 'Poppins', sans-serif;
    font-size: 55px;
    font-weight: 800; */
    font-family: 'Poppins', sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    color: #1f2937;
    line-height: 1.1;
}

#homeHeading2 {
    /* font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 550; */

    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    font-weight: 500;
    color: #374151;
    margin-top: 2px;

}

.home-image {

    border-radius: 10px;
}

.carousel {
    border-radius: 10px;
    overflow: hidden;
}

.home-about {
    border-left: 2px solid black;
}

/* ---------- */

/* about */

#about h2{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #273343;
}
#about .text-muted, .section-title p{
    font-family: 'Inter', sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    color: #6b7280 !important;
}
#about p{
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    line-height: 1.9;
    color: #383f49;
}
.focus-card h3{
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    color: #1f2937;
}
.focus-card p{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.8;
    color: #4b5563;
}

.section-title h2{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #1f2937;
}



.focus-card {
    background: #f5f7fa;
    border-radius: 30px;
    padding: 25px;
    height: 100%;
    transition: 0.3s;
}

.focus-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
}

.icon-box {
    width: 60px;
    height: 60px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box i {
    font-size: 32px;
}

.icon-blue {
    background: #dce8ff;
    color: #2563eb;
}

.icon-purple {
    background: #eadcff;
    color: #9333ea;
}

.icon-yellow {
    background: #fff3c4;
    color: #ca8a04;
}

.icon-green {
    background: #d9f7e8;
    color: #16a34a;
}


.card-title {
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
}

.card-text {
    font-family: 'Inter', sans-serif;
    font-size: 0.95rem;
    margin-top: 15px;
    color: #555;
    line-height: 1.8;
}


/* ------------ */

/* responsibility */

#responsibilities h2{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 700 !important; 
    /* color: #1f2937; */
    color: #273343 ;
}
#responsibilities .text-muted{
    font-family: 'Inter', sans-serif;
    font-size: 1.15rem;
    color: #6b7280 !important;
}
.accordion-button{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #1f2937;
}
.accordion-body{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.8;
    color: #4b5563;
}

.responsibility-card {
    background: #ffffff;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    min-height: 140px;
}

.responsibility-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.responsibility-card h5 {
    font-weight: 600;
    margin-bottom: 0;
}

/* --------------- */

/* welfare */
#student_welfare h2{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #1f2937;
}

#student_welfare .section-subtitle{
    font-family: 'Inter', sans-serif;
    font-size: 1.15rem;
    color: #4b5563;
}

#student_welfare .text-muted{
    font-family: 'Inter', sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    color: #6b7280 !important;
}

#student_welfare h5{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    color: #1f2937;
}
.welfare-card h4{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #1f2937;
}

.welfare-card p{
    font-family: 'Inter', sans-serif;
    font-size: 1.05rem;
    line-height: 1.8;
    color: #4b5563;
}

.welfare-item {
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
}

.welfare-item:hover {
    background-color: #f8f9fa;
    transform: translateY(-5px);
}

.welfare-icon {
    font-size: 2.5rem;
    color: #0d6efd;
    margin-right: 20px;
}


/* --------- */

/* initiatives */

#initiatives h2{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #1f2937;
}

#initiatives .text-muted{
    font-family: 'Inter', sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    color: #6b7280 !important;
}

#initiatives h3{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    color: #1f2937;
}

.initiative-img {
    width: 100%;
    height: 320px;
    object-fit: cover;

    border-radius: 15px;

    transition: all 0.4s ease;
}

.initiative-img:hover {
    transform: scale(1.03);
}

.initiative-content {
    transition: all 0.3s ease;
}



/* ----------- */

/* gallery */

#gallery h2{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #1f2937;
}

#gallery .text-muted{
    font-family: 'Inter', sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    color: #6b7280 !important;
}
.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 12px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.18);
}

.gallery-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    transition: 0.4s;
}

.gallery-overlay {
    position: absolute;
    left: 0;
    bottom: -60px;
    width: 100%;

    background: rgba(0, 0, 0, 0.75);
    color: white;

    padding: 15px;
    text-align: center;
    font-weight: 600;

    transition: 0.3s;
}

.gallery-item:hover .gallery-overlay {
    bottom: 0;
}

.gallery-item:hover .gallery-img {
    transform: scale(1.05);
}


/* --------- */

/* meet the team */

#team h2{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #1f2937;
}

#team .text-muted{
    font-family: 'Inter', sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    color: #6b7280 !important;
}
/* .team-card img{
    transition: transform 0.4s ease;
}
#team .card img:hover{
  transform: scale(1.03);;
} */


.dean-card {
    width: 26rem;
}

.staff-card {
    width: 22rem;
}

/* -------- */

/* resources */

#resources h2{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #1f2937;
}

#resources .text-muted{
    font-family: 'Inter', sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    color: #6b7280 !important;
}
.resource-item {
    display: block;
    background: white;
    padding: 18px 24px;
    border-radius: 12px;

    text-decoration: none;
    color: #212529;
    font-weight: 500;
    font-size: 1.15rem;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}
.resource-card{
    transition: all 0.3s ease;
}
.resource-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    background: #458bf6;
    color:white;
}

/* ----------- */

/* footer */

#FAQ h2{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #1f2937;
}

#FAQ .text-muted{
    font-family: 'Inter', sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    color: #6b7280 !important;
}
footer {
    background-color: #243447;
    color: white;
}

.footer-links li {
    margin-bottom: 12px;
}

.footer-links a {
    color: #9ccaff;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    color: white;
}

/* ------------ */